* {
  box-sizing: border-box;
}

.header {
  position: relative;
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 2rem;
  margin-top: -3rem;
  background-color: #ffffff;
  z-index: 1000;
}

.headerDivider {
  width: 100%;
  height: 0.2rem;
  background-color: #5970e1;
}

.headerUpper {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #5970e1;
}

.headerUpper_Logo {
  position: relative;
  left: 2%;
}
.headerUpper_Logo img {
  width: 80px;
  height: 80px;
}

.headerUpper_BankName {
  width: 160px;
  height: 80px;
  position: relative;
  left: 2%;
  top: 30%;

  color: white;
  font-size: 32px;
  text-align: center;
}

.headerUpper_AccountButton {
  width: 100px;
  height: 35px;
  position: absolute;
  right: 9rem;
  top: 30%;

  text-align: center;
  font-weight: bold;
  font-size: 15px;

  border: 0px none white;
  border-radius: 50px;
}
.headerUpper_AccountButton:hover {
  filter: invert(1);
  transition: 600ms;
}

.headerLower {
  position: relative;
  display: block;
  width: 100%;
  height: 65px;
  background-color: #f4f4f4;
}

.headerLower_Nav {
  height: 40px;
  position: absolute;

  list-style-type: none;
  display: flex;

  font-size: 19px;
  font-weight: bold;
}

.headerLower_Nav li {
  margin-right: 40px;
}

a {
  color: black;
  text-decoration: none;
}

.headerLower_SearchBox_containter {
  position: absolute;
  right: 2%;
  top: 30%;
}

.headerLower_SearchBox {
  width: 250px;
  height: 35px;

  padding-left: 10px;

  border: 10px solid white;
  border-radius: 50px;
}

.headerLower_SearchBox_button {
  position: absolute;
  right: 10%;
  top: 20%;

  background-color: white;

  border-radius: 50px;
  border: 0px none white;
}

.headerLower_SearchBox_button img {
  height: 20px;
  width: 20px;
}
