.deposit-plan {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.text-container-deposit {
  padding-top: 20px;
  flex: 1;
  padding-left: 20px;
  text-align: right;
  position: relative;
}

.text-container-deposit h2{
  font-size: 42px;
}
.text-container-deposit h1 {
  font-size: 72px;
  margin: 0;
  margin-bottom: 10px;
}
.text-container-deposit p {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}
.box-container-deposit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
.deposit-box {
  width: 240px;
  height: 350px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
  padding-right: 20px;
}

.icon-deposit {
  width: 90px;
  height: 90px;
}
.box-content-deposit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box-above-deposit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  gap: 50px;
}

.box-bottom-deposit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 490px;
  margin-top: 30px;
  text-align: center;
}

.deposit-icon {
  position: absolute;
  width: 500px;
  height: auto;
  margin-top: 70px;
  right: 15px;
}
