.loan-plan {
  align-items: center;
  display: flex;
  justify-content: center;

  padding: 50px;
}
.text-container {
  padding-top: 20px;
  flex: 1;
  padding: 0 20px;
  margin-right: 20px;
  position: relative;
}
.text-container h2{
  font-size: 42px;
}
.text-container h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 72px;
}
.text-container p {
  margin: 0;
  padding-top: 10px;
}

.box-container-loan {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.loan-box {
  width: 240px;
  height: 350px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
  padding-right: 20px;
}
.box-above {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  gap: 50px;
}

.box-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 590px;
  margin-top: 30px;
}
.loan-icon {
  position: absolute;
  width: 500px;
  height: auto;
  margin-top: 70px;
}
