body {
  margin: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 0px 0px;
}

.team-page .header-container{
  width: 100vw;
}

.team-page .footer-container{
  width: 99vw;
}

.team-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: white;
  width: 100%;
}

.team-container {
  text-align: center;
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team-heading {
  text-align: center;
  font-size: 5.2em;
}

.profile-image {
  width: auto;
  height: 200px;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.6em;
  margin: 5px 0;
}

p {
  color: #777;
}

.top-row {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 60px 0 60px;
}
.bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media(max-width: 768px){
  .team-container{
    padding: 20px;
  }
  .team-heading{
    font-size: 2.4em;
  }
}