.RegistrationBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 100vh;
}

.header-container {
  width: 200%;
}

.register-form {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border: 2px solid #e1e5eb;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-form h1 {
  color: #425aab;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.register-form h2 {
  color: cornflowerblue;
  margin: 0;
  font-size: 1.25rem;
}

.register-form p {
  margin: 1rem 0;
  font-size: 1.125rem;
  color: #555;
}

.combine_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.input-container label {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="date"] {
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.register-button button {
  background-color: #425aab;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.register-button button:hover {
  background-color: #344d92;
}

.error {
  font-size: 0.875rem;
  color: red;
  margin-top: 4px;
}

.already {
  font-size: 1rem;
  margin-top: 1rem;
}

.already a {
  font-size: 1rem;
  text-decoration: underline;
  color: #425aab;
}

.footer-container {
  width: 200%;
  margin-top: 2rem;
}

p {
  color: black;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .register-form {
    padding: 1.5rem;
  }
}
