.ResgistrationBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  margin: 0;
  background-color: #f0f0f0;
}

.register-form {
  background-color: white;
  border: 3px solid #c1cfff;
  border-radius: 8px;
  padding: 40px;
  width: 570px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.register-form h1 {
  color: #425aab;
  font-size: 55px;
  text-decoration: underline;
}

.register-form h2 {
  color: cornflowerblue;
  margin-bottom: -20px;
  font-size: 25px;
}

.register-form p {
  margin-top: 20px;
  font-size: 18px;
  color: #425aab;
  font-weight: bold;
}

.combine_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.input-container label {
  font-size: 23px;
  color: #555555;
  margin-bottom: 6px;
  display: block;
  font-weight: bolder;
}

.input-group {
  border: none;
  width: 100%;
  padding: 10px 12px; /* Adjust the padding values */
  border-radius: 4px;
  background-color: #c1cfff;
  font-size: 16px; /* Adjust the font size */
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="date"] {
  border: none;
  width: 100%;
  padding: 10px 0px; /* Adjust the padding values */
  border-radius: 12px;
  background-color: #f5f5f5;
  font-size: 18px; /* Adjust the font size */
}

.button button {
  border: 1.5px solid #c1cfff;
  border: 1.5px solid #c1cfff;
  background-color: #425aab;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.already {
  font-size: 20px;
}

.already a {
  font-size: 20px;
  text-decoration: underline;
  color: #425aab;
}

p {
  color: black;
}

@media (max-width: 768px) {
  .register-form {
    width: 90%;
  }
}
