
.sidebar {
  background-color: #ced5f4; /* Dark background color */
  color: black; /* Text color */
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px; /* Increased padding */
  overflow-y: auto; /* Add scroll for long lists */
  font-size: 16px; /* Change font size */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.sidebar .title h1 {
  font-size: 34px;
}

.sidebar h2 {
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px; /* Increased spacing between list items */
}

.sidebar a {
  color: black; /* Regular link color */
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  font-size: 21px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Smooth transition for hover and active effects */
}

.sidebar a:hover {
  background-color: #444; /* Darker hover color */
}

/* Active link style */
.sidebar a.active {
  background-color: #555;
  color: #fff; /* Active link text color */
}

/* Icon classes */
.sidebar .fas {
  margin-right: 15px; /* Add margin between icon and text */
  font-size: 16px;
  font-weight: 600;
}

/* Additional icons for each menu item */
.sidebar .fas.fa-tachometer-alt::before {
  content: "\f3fd"; /* Font Awesome icon code for a dashboard */
}

.sidebar .fas.fa-users::before {
  content: "\f0c0"; /* Font Awesome icon code for users */
}

.sidebar .fas.fa-exchange-alt::before {
  content: "\f063"; /* Font Awesome icon code for transactions */
}

.sidebar .fas.fa-user-tie::before {
  content: "\f508"; /* Font Awesome icon code for agents */
}
