body {
  padding-top: 100px;
  margin: 0;
}

.about-container {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}

.about-description {
  text-align: right;
  padding-top: 20px;
  padding-left: 20px;
  flex: 1;
  position: relative;
  font-size: 20px;
}

.about-description h2 {
  font-size: 42px;
}

.about-content {
  display: flex;
  align-items: center;
}

.establishment-content h2 {
  font-size: 42px;
}

.establishment-content {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.about-description h2 {
  margin: 0;
  margin-bottom: 10px;
}

.about-description p {
  margin: 0;
  padding-top: 10px;
}

.about-image img {
  max-width: 600px;
  height: auto;
}

.establishment-image img {
  max-width: 600px;
  height: auto;
  padding-top: 50px;
}

.establishment-description {
  text-align: left;
  padding-top: 20px;
  padding-right: 20px;
}
