* {
    box-sizing: border-box;
}

.bannerImageSlider {
    width: 100%;
    height: 30rem;

    position: relative;
    top: -113px;

    background-image: url("./Image/1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;

    transition: background-image 0.5s;
    margin-bottom: -30px;
}

.imageSelectionButtons {
    position: absolute;
    display: block;

    left: 46%;
    bottom: 5px;
}

.imageSelectionButtons button {
    background: none;
    border: 0px none white;

    padding: 10px;
}

.imageSelectionButtons img {
    width: 10px;
    height: 10px;
    filter: invert(1);

    transition: filter 0.5s;
}

.imageSelectionButtons img:hover {
    width: 10px;
    height: 10px;
    filter: invert(0);

    transition: filter 0.5s;
}
