* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #5970e1; /* Lighter background color */
    color: white; /* White text color */
    padding: 40px 20px; /* Increased vertical padding for height */
    height: 400px; /* Increased height */
}

.footerLeft {
    text-align: right; /* Align the logo to the right */
    margin-left: 130px;
}

.social-icons .fa{
    color: white;
}

.footerLogo {
    width: 270px; /* Increase the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.footer_BankName {
    font-size: 55px;
    margin-top: 15px;
}

.footerRight {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.footerRightTop {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.JDBankCustomerSupport h4 {
    font-size: 46px;
}

.footerRight h4{
    font-size: 46px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Style email links to be white */
ul li a {
    color: white;
    text-decoration: none; /* Remove underlines from links */
}


.social-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social i {
    font-size: 24px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footerLeft {
        text-align: center; /* Center align the logo on small screens */
        margin-bottom: 20px;
        margin-right: 25px;
    }

    .footerLogo {
        margin-right: 0; /* Remove margin on small screens */
    }

    .footerRight {
        text-align: center;
        margin-left: 25px;
    }

    .footerRightTop {
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
    }

    .footer_BankName {
        font-size: 14px;
    }

    h4 {
        font-size: 24px;
    }

    .social-icons {
        justify-content: center;
    }
}
