* {
  box-sizing: border-box;
}

.footer {
  position: relative;
  display: flex;

  width: 100%;
  height: 300px;

  background-color: #5970e1;
}

.footerLeft {
  width: 30%;
  height: 100%;
  position: relative;
  padding-top: 3%;

  color: white;
  font-size: 32px;
  text-align: center;
}

.footerLeft img {
  width: 180px;
  height: 180px;
}

.footerRight {
  width: 70%;
  height: 100%;

  position: relative;
  display: block;

  color: white;
}

.footerRight ul {
  list-style-type: none;
}

.footerRight a {
  color: white;
}

.footerRightTop {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;

  text-align: left;
  font-size: 16px;
}

.footerRightTop h4 {
  position: relative;
  padding-left: 40px;
}

.footerRightTop a {
}

.footerRightTop a:hover {
  color: black;
  transition: color 0.6s;
}

.JDBankCustomerSupport {
  position: relative;
  left: 30px;
  top: 2px;
  width: 30%;
  margin: auto;
}

.services {
  width: 30%;
  margin: auto;
}

.services h4 {
  left: -20px;
  top: 8px;
}
.services ul {
  position: relative;
  top: -10px;
}

.aboutUs {
  width: 30%;
  margin: auto;
}

.aboutUs ul {
  position: relative;
  top: -15px;
}

.aboutUs h4 {
  top: -11px;
}

.footerRightBottom {
  width: 100%;
  height: 40%;
}

.socialMedia {
  width: 100%;
}

.socialMedia h4 {
  text-align: center;
}
/* FontAwesome */

#lab_social_icon_footer {
  position: relative;
  top: -15px;
  left: -10px;
  text-align: center;
}

#lab_social_icon_footer a {
  color: white;
  margin-left: 25px;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
      Multicoloured Hover Variations
  */

#lab_social_icon_footer #social-fb:hover {
  color: #3b5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
