* {
    box-sizing: border-box;
}

.footer {
    position: relative;
    display: flex;

    width: 100%;
    height: 300px;

    background-color: #5970e1;
}

.footerLeft {
    width: 30%;
    height: 100%;
    position: relative;
    padding-top: 3%;

    font-size: 32px;
    text-align: center;
}

.footerLeft img {
    width: 180px;
    height: 180px;
}

.footerRight {
    width: 70%;
    height: 100%;

    position: relative;
    display: block;

    color: white;
}

.footerRight ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerRight a {
    color: white;
}

.footerRightTop {
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;

    text-align: left;
    font-size: 16px;
}

.footerRightTop h4 {
    position: relative;
    padding-left: 40px;
}

.JDBankCustomerSupport {
    width: 30%;
    margin: auto;
}

.services {
    width: 30%;
    margin: auto;
}

.aboutUs {
    width: 30%;
    margin: auto;
}

.socialMedia {
    width: 100%;
    text-align: center;
}

.socialMedia ul {
    position: absolute;
    left: 28%;

    bottom: 10%;
    display: flex;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add a 10px gap between icons */
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add a 20px gap between icons */
}
